<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <title>Checkout</title>
    </head>
    <body>
    <div class="container">
        <h1>Thank you for your business</h1>
        <p>We charged your credit card ${{request.session.total_charge}}</p>

        <p>You have ordered {{request.session.total_items}} items so far and spent ${{request.session.total_price}} with Amadon.com</p>

        <a href="/amadon">Go Back</a>
    </div>
    </body>
</html>